@model CodeUnityLabs.Models.Rezervation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource_Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment_Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room_Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_Time)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Reservation_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
