@model IEnumerable<CodeUnityLabs.Models.Rezervation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User_Id)</th>
            <th>@Html.DisplayNameFor(model => model.Resource_Id)</th>
            <th>@Html.DisplayNameFor(model => model.Equipment_Id)</th>
            <th>@Html.DisplayNameFor(model => model.Room_Id)</th>
            <th>@Html.DisplayNameFor(model => model.Start_Time)</th>
            <th>@Html.DisplayNameFor(model => model.End_Time)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Priority)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Resource_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Equipment_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Room_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Start_Time)</td>
                <td>@Html.DisplayFor(modelItem => item.End_Time)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Reservation_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Reservation_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Reservation_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
