<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="text-muted mb-0">All reservations list</p>

    <a asp-action="Create" class="btn btn-primary">
        + New Reservation
    </a>
</div>

<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>User</th>
            <th>Resource</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User?.Email</td>
                <td>@item.Resource.Resource_Name</td>
                <td>@item.Start_Time</td>
                <td>@item.End_Time</td>
                <td>
                    <span class="badge bg-secondary">@item.Status</span>
                </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Reservation_Id" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Reservation_Id" class="btn btn-sm btn-outline-secondary">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Reservation_Id" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
